
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/interface-icons.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
        <script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
    </head>
    <body data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)">

				
		<div class="nav-container">
		</div>
		
		<div class="main-container">
		<section>
		                <div class="container">
		                    <div class="row">
		                        <div class="col-sm-12">
		                            <div class="elements--title">
		                                <h4>Vertical Product Cards</h4>
		                            </div>
		                        </div>
		                        <div class="col-md-4 col-sm-6 col-sm-12">
		                            <a href="#">
		                                <div class="card card-7">
		                                    <div class="card__image">
		                                        <img alt="Pic" src="img/product-large-1.jpg">
		                                    </div>
		                                    <div class="card__body boxed bg--white">
		                                        <div class="card__title">
		                                            <h6>Accessories</h6>
		                                            <h5>Charles Leather Bag</h5>
		                                        </div>
		                                        <div class="card__price">
		                                            <span class="type--strikethrough">$129.99</span>
		                                            <span>$89.99</span>
		                                        </div>
		                                    </div>
		                                </div>
		                            </a>
		                        </div>
		                        <div class="col-md-4 col-sm-6 col-sm-12">
		                            <a href="#">
		                                <div class="card card-7">
		                                    <div class="card__image">
		                                        <img alt="Pic" src="img/product-large-4.jpg">
		                                    </div>
		                                    <div class="card__body boxed bg--white">
		                                        <div class="card__title">
		                                            <h6>Bags</h6>
		                                            <h5>Bonnie Denim Tote</h5>
		                                        </div>
		                                        <div class="card__price">
		                                            <span class="type--strikethrough">$99.00</span>
		                                            <span>$48.99</span>
		                                        </div>
		                                    </div>
		                                </div>
		                            </a>
		                        </div>
		                        <div class="col-md-4 col-sm-6 col-sm-12">
		                            <a href="#">
		                                <div class="card card-7">
		                                    <div class="card__image">
		                                        <img alt="Pic" src="img/product-large-9.jpg">
		                                    </div>
		                                    <div class="card__body boxed bg--white">
		                                        <div class="card__title">
		                                            <h6>Apparel</h6>
		                                            <h5>Hunter Formal Shirt</h5>
		                                        </div>
		                                        <div class="card__price">
		                                            <span>$129.99</span>
		                                        </div>
		                                    </div>
		                                </div>
		                            </a>
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </section><section class="masonry-contained">
		                <div class="container">
		                    <div class="row">
		                        <div class="masonry masonry-shop">
		                            <div class="masonry__filters text-center" data-filter-all-text="Show All"></div>
		                            <div class="masonry__container masonry--animate masonry--active">
		                                <div class="col-sm-4 masonry__item" data-masonry-filter="Accessories">
		                                    <a href="#">
		                                        <div class="shop-item shop-item-1">
		                                            <div class="shop-item__price hover--reveal">
		                                                <span class="type--strikethrough">$329.00</span>
		                                                <span>$299.00</span>
		                                            </div>
		                                            <div class="shop-item__image">
		                                                <img alt="product" src="img/product-large-5.jpg">
		                                            </div>
		                                            <div class="shop-item__title">
		                                                <h5>Lucas Wrist Watch</h5>
		                                            </div>
		                                        </div>
		                                    </a>
		                                </div>
		                                
		                                
		                                
		                                
		                                
		                                
		                                
		                                
		                                
		                                
		                                
		                            </div>
		                            
		                        </div>
		                        
		                    </div>
		                    
		                </div>
		                
		            </section></div>
		
				
		<script src="js/jquery-2.1.4.min.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/scrollreveal.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/scripts.js"></script>
        <script  src="javascripts/firebaseSetup.js"></script>
    </body>
</html>
				