
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/interface-icons.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
        <script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
        <style>
        
        .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hoverCard:hover .image {
  opacity: 0.3;
}

.hoverCarde:hover .middle {
  opacity: 1;
}

        </style>
    </head>
    <body data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)">

				
		<div class="nav-container">
		</div>
		
		<div class="main-container">
		<section >
		                <div class="container">
		                    <div class="row">
		                        <div class="col-sm-12 col-md-12">
		                            <div class="elements--title" style="text-align:center">
                                        <h4>Select your option</h4>
                                        <hr>
		                            </div>
		                        </div>
		                        <div class="col-md-6 col-sm-12">
		                            <a href="#" onclick="redirectTo('build')">
		                                <div class="card card-3">
		                                    <div class="card__image hoverCard">
                                                <img alt="Pic" src="images/selection1.gif" class="image" >
                                                <div class="middle">
                                                    <div class="text"></div>
                                                  </div>
		                                    </div>
		                                    <div class="card__body boxed bg--white">
		                                        <div class="card__title">
		                                            <h5>Build your own rig ( PC )</h5>
		                                        </div>
		                                        <span>
		                                            <em>Select from tens of pc components setp by step.</em>
		                                        </span>
		                                    </div>
		                                </div>
		                            </a>
		                        </div>
		                        <div class="col-md-6 col-sm-12">
		                            <a href="#" onclick="redirectTo('view')">
		                                <div class="card card-3">
		                                    <div class="card__image hoverCard">
		                                        <img alt="Pic" src="images/login2.gif"  class="image">
		                                    </div>
		                                    <div class="card__body boxed bg--white">
		                                        <div class="card__title">
		                                            <h5>View prebuilt configurations ( PCs)</h5>
		                                        </div>
		                                        <span>
		                                            <em>Select any of the saved gaming/productivity PC builds&nbsp;</em>
		                                        </span>
		                                    </div>
		                                </div>
		                            </a>
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </section></div>
		
				
		<script src="js/jquery-2.1.4.min.js"></script>
        <script src="js/scrollreveal.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/scripts.js"></script>
        <script>
            var userData=<%-JSON.stringify(userData)%>
        function redirectTo(id){
            //get firebase auth token here:
            firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
  // Send token to your backend via HTTPS
  // ...
}).catch(function(error) {
  // Handle error
});

        }
        </script>
          	<script  src="javascripts/firebaseSetup.js"></script>
    </body>
</html>
				